/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: rgba(255, 255, 255, 0.89);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas: "header"
    "main"
    "footer";

}

.header {
  grid-area: header;
  padding: 15px;
  background-color: rgb(58, 57, 57);
  display: grid;
  font-size: 25px;
  padding-bottom: 50px;
  color: white;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px);
  border-radius: 15px;
  list-style: none;
  text-decoration: none;
}

.header__logo {
  width: 70px;
  height: 70px;
  grid-column: 2/3;

}

.header__menu {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;

}

.header__list {}

.header__link {
  color: white;
}

.header__burger {}

@media {
  .main {
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px)
  }
}


.sidebar {
  grid-column: 2/3;
  background-color: rgb(58, 57, 57);
  color: white;
  border-radius: 15px;
}

.sidebar__menu {}

.sidebar__list {}

.sidebar__link {
  padding-top: 20px;
  font-size: 30px;
  padding-bottom: 50px;
  display: grid;
  color: white;
  text-decoration: none;
  text-align: center;
}

.content {
  grid-column: 3/4;
  padding-left: 30px;
}

.content__title {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(58, 57, 57);
  border-radius: 15px;
  color: white;
}

.content__gallery {
  margin-bottom: 30px;
  font-size: 14px;
}



h2 {
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
}

.gallery__title {}

.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.gallery__item {
  position: relative;
  padding-bottom: 85%;
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item_big {
  grid-column: span 2;
  grid-row: span 2;

}

.content__full {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;
  gap: 20px;
}

.products__name {
  display: grid;


  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid black;
}

.products__button {
display: grid;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  background-color: rgb(122, 122, 122);
  border-radius: 5px;
  border: 1px solid black;
  color:white;

}

.footer {
  grid-area: footer;
  background-color: rgb(58, 57, 57);
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.footer__copy {
  text-align: center;
}

.footer__text {
  text-align: center;
}